:root {
    --principal: rgb(253, 253, 253);
    --secundario: black;
    --resaltado: #c5f83d;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--principal);
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    background-color: var(--secundario);
}

#logo {
    height: auto;
    width: 150px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--secundario);
    z-index: 1000;


    & div ul {
        display: flex;
        list-style: none;
        justify-content: center;
        margin: 0;
        padding: 0;

        & li {
            margin-right: 20px;

            & a {
                text-decoration: none;
                color: var(--principal);
            }
        }
    }
}


main {
    background-color: var(--secundario);
    overflow-y: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    & div {
        margin: 20px;
        width: 60%;

        & h1 {
            text-transform: uppercase;
        }
    }
}


/* ESTILOS DEL FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secundario);
    height: 60px;
    width: 100%;

    & p {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

/* BOTON menu */
.btn1 {
    border: 1px solid var(--principal);
    color: var(--principal);
    background-color: transparent;

    padding: 10px 20px;
    border-radius: 10px;
    transition: .3s ease;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        background-color: var(--principal);
        color: var(--secundario);
        box-shadow: 0 0 10px var(--principal);
    }
}

.btn2 {
    border: none;
    background-color: var(--resaltado);
    color: var(--secundario);

    padding: 10px 20px;
    border-radius: 10px;
    transition: .3s ease;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        box-shadow: 0 0 10px var(--resaltado);
    }
}


/* CARRUSEL IMAGENES  */
/* esto es de internet porque no lo conseguia */
#carouselExampleIndicators {
    height: 40vh;
    max-height: 40vh;
    max-width: 30vw;
    border-radius: 10px;
    overflow: hidden;
}

#carouselExampleIndicators .carousel-inner,
#carouselExampleIndicators .carousel-item {
    margin: 0;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.8s ease, opacity 0.8s ease-in-out;
}

#carouselExampleIndicators .carousel-item {
    display: block !important;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#carouselExampleIndicators .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#carouselExampleIndicators .carousel-item.active {
    opacity: 1;
    position: relative;
}

#carouselExampleIndicators .carousel-item-start,
#carouselExampleIndicators .carousel-item-end,
#carouselExampleIndicators .carousel-item-next,
#carouselExampleIndicators .carousel-item-prev {
    transform: none !important;
}