body,
section {
    border: 1px solid red;
    margin: 0;
}

* {
    box-sizing: border-box;
}

section {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
    /* justify-content: center; */
}

p:nth-child(1) {
    width: 100%;
}

p {
    border: 1px solid red;
    margin: 0;
}

section div {
    width: 80vw;
}

@media screen and (min-width: 600px) {

    p:nth-child(3),
    p:nth-child(2) {
        width: 50%;
        float: right;
    }
}

@media screen and (max-width: 600px) {
     section div {
        width: 100%;
    }
}