body,
section {
    border: 1px solid red;
    margin: 0;
}

* {
    box-sizing: border-box;
}

section {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
    /* justify-content: center; */
}

h4 {
    width: 100%;
    margin: 0;
    font-weight: lighter;
}

p {
    border: 1px solid red;
    margin: 0;
}

section div {
    width: 100%;
}

@media screen and (min-width: 600px) {
    p {
        display: flex;
        float: left;
        width: 33.33%;
    }
}