.grid-container {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 columnas */
    grid-template-rows: auto auto auto; /* filas */
    grid-template-areas:
        "uno   uno   uno"
        "dos   cinco tres"
        "dos cuatro cuatro";
    gap: 10px;
}

/* Item 1 - Azul */
.item1 {
    grid-area: uno;
    background-color: blue;
    border: 4px solid black;
    padding: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}

/* Item 2 - Rojo */
.item2 {
    grid-area: dos;
    background-color: red;
    border: 4px solid black;
    padding: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}

/* Item 3 - Verde */
.item3 {
    grid-area: tres;
    background-color: green;
    border: 4px solid black;
    padding: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}

/* Item 4 - Amarillo */
.item4 {
    grid-area: cuatro;
    background-color: yellow;
    border: 4px solid black;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

/* El hueco blanco del centro */
.item5 {
    grid-area: cinco;
}
